<%= form_for(@photo) do |f| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :farm %><br />
    <%= f.text_field :farm %>
  </div>
  <div class="field">
    <%= f.label :server %><br />
    <%= f.text_field :server %>
  </div>
  <div class="field">
    <%= f.label :secret %><br />
    <%= f.text_field :secret %>
  </div>
  <div class="field">
    <%= f.label :owner %><br />
    <%= f.text_field :owner %>
  </div>
  <div class="field">
    <%= f.label :photogenic_id %><br />
    <%= f.text_field :photogenic_id %>
  </div>
  <div class="field">
    <%= f.label :photogenic_type %><br />
    <%= f.text_field :photogenic_type %>
  </div>
  <div class="field">
    <%= f.label :flickr_id %><br />
    <%= f.text_field :flickr_id %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
