<p id="notice"><%= notice %></p>

<p>
  <b>Permalink:</b>
  <%= @attraction.permalink %>
</p>

<p>
  <b>Short name:</b>
  <%= @attraction.short_name %>
</p>

<p>
  <b>When to go:</b>
  <%= @attraction.when_to_go %>
</p>

<p>
  <b>Scheduled code:</b>
  <%= @attraction.scheduled_code %>
</p>

<p>
  <b>Reflective captioning:</b>
  <%= @attraction.reflective_captioning %>
</p>

<p>
  <b>Physical considerations:</b>
  <%= @attraction.physical_considerations %>
</p>

<p>
  <b>Open not so scary:</b>
  <%= @attraction.open_not_so_scary %>
</p>

<p>
  <b>Open emh evening:</b>
  <%= @attraction.open_emh_evening %>
</p>

<p>
  <b>Name:</b>
  <%= @attraction.name %>
</p>

<p>
  <b>Duration:</b>
  <%= @attraction.duration %>
</p>

<p>
  <b>Average wait assumes:</b>
  <%= @attraction.average_wait_assumes %>
</p>

<p>
  <b>Scope and scale code:</b>
  <%= @attraction.scope_and_scale_code %>
</p>

<p>
  <b>Minor attraction:</b>
  <%= @attraction.minor_attraction %>
</p>

<p>
  <b>Intense:</b>
  <%= @attraction.intense %>
</p>

<p>
  <b>Video captioning:</b>
  <%= @attraction.video_captioning %>
</p>

<p>
  <b>Open very merry:</b>
  <%= @attraction.open_very_merry %>
</p>

<p>
  <b>Not to be missed:</b>
  <%= @attraction.not_to_be_missed %>
</p>

<p>
  <b>Assistive listening:</b>
  <%= @attraction.assistive_listening %>
</p>

<p>
  <b>Wheelchair transfer code:</b>
  <%= @attraction.wheelchair_transfer_code %>
</p>

<p>
  <b>Must transfer from wheelchair:</b>
  <%= @attraction.must_transfer_from_wheelchair %>
</p>

<p>
  <b>Special needs:</b>
  <%= @attraction.special_needs %>
</p>

<p>
  <b>Single rider:</b>
  <%= @attraction.single_rider %>
</p>

<p>
  <b>Seasonal:</b>
  <%= @attraction.seasonal %>
</p>

<p>
  <b>Handheld captioning:</b>
  <%= @attraction.handheld_captioning %>
</p>

<p>
  <b>Frightening:</b>
  <%= @attraction.frightening %>
</p>

<p>
  <b>No service animals:</b>
  <%= @attraction.no_service_animals %>
</p>

<p>
  <b>Loading speed:</b>
  <%= @attraction.loading_speed %>
</p>

<p>
  <b>Fastpass booth:</b>
  <%= @attraction.fastpass_booth %>
</p>

<p>
  <b>What it is:</b>
  <%= @attraction.what_it_is %>
</p>

<p>
  <b>Ultimate code:</b>
  <%= @attraction.ultimate_code %>
</p>

<p>
  <b>Open emh morning:</b>
  <%= @attraction.open_emh_morning %>
</p>

<p>
  <b>Category code:</b>
  <%= @attraction.category_code %>
</p>

<p>
  <b>Sign language:</b>
  <%= @attraction.sign_language %>
</p>

<p>
  <b>Service animal check:</b>
  <%= @attraction.service_animal_check %>
</p>

<p>
  <b>Rider swap:</b>
  <%= @attraction.rider_swap %>
</p>

<p>
  <b>Average wait per hundred:</b>
  <%= @attraction.average_wait_per_hundred %>
</p>

<p>
  <b>Probable wait time:</b>
  <%= @attraction.probable_wait_time %>
</p>

<p>
  <b>Ultimate task:</b>
  <%= @attraction.ultimate_task %>
</p>

<p>
  <b>Time zone:</b>
  <%= @attraction.time_zone %>
</p>

<p>
  <b>Audio description:</b>
  <%= @attraction.audio_description %>
</p>

<p>
  <b>Height restriction:</b>
  <%= @attraction.height_restriction %>
</p>

<p>
  <b>Extinct on:</b>
  <%= @attraction.extinct_on %>
</p>

<p>
  <b>Opened on:</b>
  <%= @attraction.opened_on %>
</p>

<p>
  <b>Land:</b>
  <%= @attraction.land_id %>
</p>

<p>
  <b>Park:</b>
  <%= @attraction.park_id %>
</p>


<%= link_to 'Edit', edit_attraction_path(@attraction) %> |
<%= link_to 'Back', attractions_path %>
